html{

	box-sizing: border-box;

}

*,*:before,*:after {

box-sizing: inherit;

}

nav ul{

list-style: none;

}

nav ul li{

display: inline;
padding: 10px;

}

span{

float: right;

}

.icon{

	width: 30px;

}

p{

background-color: margin: 30px;

}

h2 {

text-align: center;

}

#Projects{

text-align: center;

}

#Contact{

text-align: right;

}

h3{

display: inline;
padding: 80px;

}